[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
plotly = "*"
pandas = "*"
numpy = "*"
requests-oauthlib = "*"
requests = "*"
stravalib = "*"
webbrowser = "*"

[requires]
python_version = "3.7"
